* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #000000;
}
main {
  width: 100vw;
  height: 100vh;
}

.mainCanvas {
  max-height: 100%;
  max-width: 100%;
  height: unset !important;
  object-fit: conver;

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
